.payment-wrap {
  display: flex;
  margin: auto;
  width: 700px;
  padding: 2rem;
}

.payment-wrap .checkout-btn {
max-width: 200px;
}

.payment-error {
  color: red;
  position: absolute;
  width: max-content;
}
.payment-error.month{
  top: 32px;
  left: 83px;
}
.payment-error.year{
  top: 30px;
  left: 242px
}
.payment-error.code{
  top: 50px;
  left: 123px;
}

.payment-form select:nth-child(1) {
  margin-right: 1rem;
}
.payment-form .exp-date select {
  width: 140px;
}
.payment-form .input-row input{
  width: 100%;
}
.payment-form .input-row label{
  justify-self: end;
}

.payment-btn-wrap{
  padding: 1rem;
  display: flex;
  justify-content: center;
}

#cardNumber{

}
