.container{
  max-width: 1440px; 
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  }


.green-bar, .black-bar, .grey-bar{ width: 100%;}

.green-bar{
  height: 2rem;
  background-color: var(--green);
}

.black-bar{
  height: 4rem;
  background-color: var(--black);
}

.grey-bar{
  height: 2.5rem;
  background-color: var(--grey);
}

/* //////////////////////////////////////////////////////////////////////////// */

.shop-body{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* /////////////////////////////////////////// */

.success{
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  text-align: center;
  margin-top: 20vh;
}